//--------------
//VARIABLES
//--------------

// Color palette
//--------------
$primary-color: #3a4052;
//$ewb-color: #0090FF;
//$ol-color: #003c88;
//$ol-opacity: 0.6;
//$primary: #000;
//$base: #fff;
//$bg-color: #F3F5F6;
//$bg-color2: #f7f7f7;
//$hover: #f5c842;
//$hover-light: #f5c8427e;

//$border-control: #CAD3DF;

$grey-100: #f2f2f2;
$grey: #f7f7f7;
$grey-200: #a5a5a5;
$grey-300: #4a4a4a;
$grey-400: #2e2e2e;


// Font
//--------------

// $font-primary: 'Roboto', sans-serif;
// $font-secundary: 'Roboto Slab', serif;
// $font-weight-ligth: 300;
// $font-weight-regular: 400;
// $font-weight-normal: 500;
// $font-weight-bold: 700;

