@import 'global/variables';
.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $grey-100;
  background-image: url(https://traversymedia.com/downloads/cover.jpg);
  background-position: center center;
  background-repeat: none;
  background-size: cover;

  @media(min-width: 767px) {
    flex-direction: column;
    justify-content: center;
  }
}



button {
  border: 0;
  color: black;
  padding: 15px 30px;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 75px;
}
